$primary_color: #49a552;
$secondary_color: #218333;
$secondary_color_light: rgba(33, 131, 51, 0.9);
$third_color: #f4f4f4;
$fourth_color: #efef22;
$white: #fff;
$color3: #333;
$color5: #555;
$color7: #777;
$border_color: #eaeaea;
$border_color2: #ced4da;
$gradient : linear-gradient(to right, #bdd98b 0%, #86b061 100%);
$white_light: rgba(255, 255, 255, 0.2);
$green_light: #58be50;