$font700: 700;
$font900: 900;
$font10: 10px;
$font12: 12px;
$font13: 13px;
$font14: 14px;
$font15: 15px;
$font16: 16px;
$font18: 18px;
$font17: 17px;
$font20: 20px;
$font22: 22px;
$font24: 24px;
$font28: 28px;
$font36: 36px;